.home-page {
	@extend .full;

	.grid-container {
		position: absolute;
		z-index: 2;
		top: 0;
		& > div {
			// cursor: pointer;
			position: absolute;
			overflow: hidden;
			img {
				position: absolute;
				z-index: 0;
			}
			video {
				position: absolute;
				z-index: 1;
			}
		}
		// canvas {
		// 	@include transform(translate3d(0, 0, 0));
		// 	@include opacity(0);
		// 	@include anim(.12s, 0s, $easeOutExpo, scaleX(0.8) scaleY(0.8) scaleZ(0.8), 50%, 50%, transform opacity);
		// 	&.enable {
		// 		@include opacity(1);
		// 		@include anim(.3s, 0s, $easeOutBack, scaleX(1) scaleY(1) scaleZ(1), 50%, 50%, transform opacity);
		// 	}
		// }
	}
	.grid-front-container {
		position: absolute;
		z-index: 6;
		top: 0;
		left: 0;
		& > div {
			cursor: pointer;
			position: absolute;
		}
	}
	.grid-background-container {
		position: absolute;
		z-index: 1;
		top: 0;
		& > * {
			position: absolute;
		}
	}
	.lines-grid-container {
	    z-index: 4;
		top: 0;
		.horizontal-lines > div {
			position: absolute;
			width: 100%;
			height: 1px;
			background-color: #fff;
		}
		.vertical-lines > div {
			position: absolute;
			width: 1px;
			height: 100%;
			background-color: #fff;
		}
	}
	.bottom-texts-container {
		color: black;
		font-size: 12px;
		letter-spacing: 0.73px;
		line-height: $globalLineHeight;
		position: absolute;
		z-index: 4;
		top: 0;
		left: 0;
		.titles-wrapper {
			color: $green;
			position: absolute;
			$margin: 6px;
			width: 100%;
			text-align: center;
			top: 40px;
			z-index: 1;
			li {
				cursor: pointer;
				font-family: Hobo;
				font-size: 12px;
				letter-spacing: 1.35px;
				line-height: 15.85px;
				margin: 0 $margin;
				@include inline-block;
			}
		}
		.texts-wrapper {
			position: absolute;
			@extend .full;
			text-align: center;
			& > div {
				color: $green;
				font-family: FuturaMedium;
				font-size: 14px;
				letter-spacing: 0.87px;
				line-height: 18px;
				position: absolute;
				padding: 0 10%;
			}
		}
		.background {
			@extend .full;
			background-color: #ffffff;
			// border: 2px solid $green;
		}
		#social-wrapper{
			position: absolute;
			$w: 18px;
			$margin: 6px;
			li {
				width: $w;
				height: $w;
				margin: 0 $margin;
				@include inline-block;
				position: relative;
				&:last-child {
					margin-bottom: 0;
				}
				svg > * {
					fill: $green;
				}
			}
			li.twitter {
				width: $w + 3px;
				height: $w + 3px;
			}
			li.facebook {
				width: $w - 1px;
				height: $w - 1px;
				top: -1px;
			}
			// @include anim(.4s, .0s, $easeInOutExpo, translateX(0px), 50%, 50%);
			// &.hide {
			// 	@include anim(.4s, .0s, $easeInOutExpo, translateX(80px), 50%, 50%);
			// }
		}
	}
	.around-border-container {
		$borderSize: 10px;
		position: absolute;
		z-index: 2;
		top: 0;
		& > div {
			position: absolute;
			background-color: $green;
		}
		.top, .bottom, .left-step-top, .right-step-top {
			height: $borderSize;
		}
		.left, .right, .left-step-bottom, .right-step-bottom {
			width: $borderSize;
		}
	}
	.around-border-letters-container {
		position: absolute;
		z-index: 3;
		top: 0;
		& > div {
			& > div {
				position: absolute;
			}
			font-size: 11px;
			position: absolute;
			text-transform: uppercase;
			color: white;
		}
	}
}