<div class='page-wrapper diptyque-page'>

	<div class="arrows-wrapper">
		<a href="#/{{previous-page}}" class="arrow left">
			<svg width="100%" viewBox="0.456 0.644 7.957 14.202">
				<polygon points="7.627,0.831 8.307,1.529 1.952,7.727 8.293,13.965 7.61,14.658 0.561,7.724 "/>
			</svg>
		</a>
		<a href="#/{{next-page}}" class="arrow right">
			<svg width="100%" viewBox="0.456 0.644 7.957 14.202">
				<polygon points="1.24,14.658 0.561,13.96 6.915,7.762 0.575,1.525 1.257,0.831 8.307,7.765 "/>
			</svg>
		</a>
	</div>

</div>