<div class='page-wrapper diptyque-page'>

	<div class="arrows-wrapper">
		<a href="#/{{previous-page}}" id='left' class="arrow left">
			
			<div class="icons-wrapper">
				<svg width="100%" viewBox="0 0 32 26">
					<polygon fill="#FFFFFF" points="21.84,25.184 13.59,25.184 1.048,12.934 13.798,0.768 22.006,0.726 12.507,10.143 31.423,10.06 31.548,15.851 11.882,15.851 "/>
					<path fill="#010101" d="M13.34,0.265h9.794l-9.648,9.305h18.236v6.91H13.553l9.601,9.259l-9.813-0.02L0.159,12.991L13.34,0.265zM20.707,1.245h-6.971L1.569,12.991L13.736,24.74l6.984,0.014L11.125,15.5h19.617v-4.95H11.058L20.707,1.245z"/>
				</svg>

				<svg width="100%" viewBox="0.456 0.644 7.957 14.202">
					<polygon points="7.627,0.831 8.307,1.529 1.952,7.727 8.293,13.965 7.61,14.658 0.561,7.724 "/>
				</svg>
			</div>

			<div class="background" style="background-image: url({{previous-preview-url}})"></div>

		</a>
		<a href="#/{{next-page}}" id='right' class="arrow right">

			<div class="icons-wrapper">
				<svg width="100%" viewBox="0 0 32 26">
					<polygon fill="#FFFFFF" points="10.375,0.818 18.625,0.818 31.167,13.068 18.417,25.235 10.208,25.277 19.708,15.86 0.792,15.943 0.667,10.151 20.333,10.151 "/>
					<path fill="#010101" d="M18.708,25.738H8.914l9.648-9.305H0.326v-6.91h18.169L8.894,0.265l9.814,0.02l13.181,12.727L18.708,25.738zM11.341,24.757h6.971l12.167-11.746L18.312,1.263l-6.985-0.014l9.596,9.254H1.306v4.95H20.99L11.341,24.757z"/>
				</svg>

				<svg width="100%" viewBox="0.456 0.644 7.957 14.202">
					<polygon points="1.24,14.658 0.561,13.96 6.915,7.762 0.575,1.525 1.257,0.831 8.307,7.765 "/>
				</svg>
			</div>

			<div class="background" style="background-image: url({{next-preview-url}})"></div>
		</a>
	</div>

</div>