<div class='page-wrapper home-page'>
	<div class="bg-wrapper">
		<img src='{{bgurl}}'>
	</div>
	<div class="grid-container">
		{{#grid}}
			<div></div>
		{{/grid}}
	</div>
	<div class="lines-grid-container">
		<div class="horizontal-lines">
			{{#lines-grid}}
				{{#horizontal}}
					<div></div>
				{{/horizontal}}	
			{{/lines-grid}}
		</div>
		<div class="vertical-lines">
			{{#lines-grid}}
				{{#vertical}}
					<div></div>
				{{/vertical}}	
			{{/lines-grid}}
		</div>
	</div>
	<div class="bottom-texts-container">
		<div class="left-text">
			<div class="front-wrapper">
				{{text_a}}
			</div>
			<div class="background"></div>
		</div>
		<div class="right-text">
			<div class="front-wrapper">
				<div class="vision">{{a_vision}}</div>
				<div class="logo">
					<img src="image/logo-mallorca.png">
				</div>
			</div>
			<div class="background"></div>
		</div>
	</div>
	<div class="around-border-container">
		<div class="top"></div>
		<div class="bottom"></div>
		<div class="left"></div>
		<div class="right"></div>

		<div class="left-step-top"></div>
		<div class="left-step-bottom"></div>
		<div class="right-step-top"></div>
		<div class="right-step-bottom"></div>
	</div>
	<div class="around-border-letters-container">
		<div class="top">
			<div>a</div>
			<div>b</div>
			<div>c</div>
			<div>d</div>
			<div>e</div>
			<div>f</div>
			<div>g</div>
		</div>
		<div class="bottom">
			<div>c</div>
			<div>d</div>
			<div>e</div>
		</div>
		<div class="left">
			<div>1</div>
			<div>2</div>
			<div>3</div>
		</div>
		<div class="right">
			<div>1</div>
			<div>2</div>
			<div>3</div>
		</div>

		<div class="left-step-top">
			<div>a</div>
			<div>b</div>
		</div>
		<div class="left-step-bottom">
			<div>4</div>
		</div>
		<div class="right-step-top">
			<div>f</div>
			<div>g</div>
		</div>
		<div class="right-step-bottom">
			<div>4</div>
		</div>
	</div>

	<div class="map-wrapper"></div>	
</div>