<div class='page-wrapper home-page'>
	<div class="grid-container">
		{{#grid}}
			{{! <div>
				<video width='100%'>
					<source src="http://embed.wistia.com/deliveries/840a3f6729b1f52f446aae6daec939a3eca4c0c1/arelluf-capas.mp4" type="video/mp4">
				</video>
			</div> }}
		{{/grid}}
	</div>
</div>