<div class="inside-wrapper">
	<div class="text-title">{{title}}</div>
	<div class="rects-container">
		<div class="bg-line"></div>
		<div class="bg-box"></div>
		<div class="bg-line"></div>
	</div>
	<div class="rects-container">
		<div class="bg-line"></div>
		<div class="bg-box"></div>
		<div class="bg-line"></div>
	</div>
</div>
<div class="background"></div>