* {
    backface-visibility: hidden;
    user-select: none;
    transform-style: flat;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-user-drag: none;
    outline: 0;
}
*, *:before, *:after {
    box-sizing: inherit;
}
button {
    background: none repeat scroll 0 0 transparent;
    border: medium none;
    border-spacing: 0;
    list-style: none outside none;
    margin: 0;
    padding: 0;
    text-align: left;
    text-decoration: none;
    text-indent: 0;
    cursor: pointer;
}
img { border:0; }
svg, svg * {
    backface-visibility: hidden;
}
.clear-float {
    clear: both;
}
img {
    width: 100%;
}
a:-moz-focus-inner {
    border: 0;
    outline: none;
}
a:focus {
    border: 0;
    outline: none;
}
// for firefox image scale smoothing
img {
    -ms-interpolation-mode: bicubic;
}
// for ie
img {
    background: transparent;
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF,endColorstr=#00FFFFFF)"; /* IE8 */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF,endColorstr=#00FFFFFF);   /* IE6 & 7 */
    zoom: 1;
}
.btn {
    cursor: pointer;
}
.relative {
    position: relative;
    width: 100%;
    height: 100%;
}
.full {
    width: 100%;
    height: 100%;
}
.top-left {
    top: 0;
    left: 0;
}
.vertical-center-parent {
    width: 100%;
    height: 100%;
    display: table;
}
.vertical-center-child {
    display: table-cell; 
    vertical-align: middle; 
    text-align: center; 
}
.full-block {
    position: absolute;
    @extend .top-left;
}
h4 {
    font-size: 30px;
    line-height: 70px;
}
a {
    font-size: 22px;
    color: $white;
    text-decoration: none;
}
.arrow {
    $size: 20px;
    position: absolute;
    width: $size;
    height: $size;
    polygon {
        fill: white;
    }
}
#transition-map {
    @extend .full;
    background-color: $green;
}
.map-wrapper {
    position: absolute;
    z-index: 2;
    .titles-wrapper {
        color: white;
        & > div {
            position: absolute;
        }
    }
    g#map-dots {
        path {
            cursor: pointer;
            fill: $green;
            stroke-width: 2;
            @include anim(.4s, .0s, $easeOutExpo, scale(1.2), 50%, 50%, transform fill stroke-width);
        }
        path:hover {
            fill: black;
            stroke: white;
            stroke-width: 1;
            @include anim(.6s, .0s, $easeOutElastic, scale(3.6), 50%, 50%, transform fill stroke-width);
        }
        .dot-path {
            &.animate {
                @keyframes bounce {
                    from {
                        fill: $green;
                        stroke-width: 2;
                        @include anim(.2s, .0s, $easeOutExpo, scale(1.6), 50%, 50%, transform fill stroke-width);
                    }
                    to {
                        fill: $green;
                        stroke: white;
                        stroke-width: 2;
                        @include anim(.2s, .0s, $easeOutElastic, scale(3), 50%, 50%, transform fill stroke-width);
                    }
                }
                animation: bounce .1s $easeInOutExpo alternate infinite;
            }
        }
    }
    g#footsteps {

        @keyframes dash {
            from {
                stroke-dashoffset: 500;
            }
            to {
                stroke-dashoffset: 100;
            }
        }
        
        g {
            @include opacity(0);
            @include simpleAnim(.0s, .0s, $easeOutExpo);

            path:first-child {
                stroke-width: 4px;
                &.animate {
                    animation: dash 15s linear alternate infinite;
                }
            }
            path:last-child, path:nth-child(2) {
                stroke-width: 2px;
                &.animate {
                    @include simpleAnim(1s, .0s, linear);
                }
            }
        }

    }
}
